<div class="row-fluid">
	<div class="span12">
		<div class="navbar navbar-fixed-bottom">
			<div class="navbar-inner">
				<div class="container row-fluid">
					<div class="brand span3">
						Copyright &copy; 2014
					</div>
					<div class="span2 offset1">
						<div class="eventful-badge eventful-small">
							<img src="http://api.eventful.com/images/powered/eventful_58x20.gif" alt="Local Events, Concerts, Tickets">
							<p><a href="http://eventful.com/">Events</a> by Eventful</p>
						</div>
						<div id="debug">
							<div class="visible-phone">visible-phone</div>
							<div class="visible-tablet">visible-tablet</div>
							<div class="visible-desktop">visible-desktop</div>
						</div>
					</div>
					<div class="brand span6">
						Built with <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a>. Icons from <a href="http://glyphicons.com/" target="_blank">Glyphicons</a>.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
